<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-init-method="init"
       default-destroy-method="clean">
    <bean id="deprecatedBeanFactoryPostProcessor" class="com.bilyk.DeprecatedBeanFactoryPostProcessor" />
    <bean id="injectRandomPointBeanPostProcessor" class="com.bilyk.InjectRandomPointBeanPostProcessor" />

    <bean id="triangle1" class="com.bilyk.Triangle"/>

    <bean id="pointA" class="com.bilyk.Point">
        <property name="x" value="0"/>
        <property name="y" value="0"/>
    </bean>

    <bean id="pointB" class="com.bilyk.Point">
        <property name="x" value="-20"/>
        <property name="y" value="0"/>
    </bean>

    <bean id="pointC" class="com.bilyk.Point">
        <property name="x" value="0"/>
        <property name="y" value="20"/>
    </bean>
</beans>